* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.contenedor{
    background-color: rgb(240, 236, 236);
    text-decoration: none;
    padding-top: 25px;
    margin-left: 1px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: small;
}
.item-menu{
    align-self: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(59, 177, 171); ;
}

.contenedor img{
    width: 200px;
    height: 50px;
}

.seccion1-nosotros {
    display: flex;
    justify-content: space-evenly;
    font-size:smaller;
    margin: 0px;
    align-items: center;
    padding: 5rem;

}

.texto-nosotros{
    column-gap: 1px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    flex-basis: 33%;
}
footer{
    font-size: small;
    background-color:  rgb(240, 236, 236);
}
.info-footer {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.info-footer h4{
    margin-left: 25px;
    margin-top: 1rem;
    
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    } 
    to {
        margin-left: 0%;
        width: 100%;
    }
}

/*Test de Border Color Animation
  */

    @keyframes rotate {
        100% {
            transform: rotate(1turn);
        }
    }

.final-footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}
.contenedor-form{
    display: flex;
    justify-content:center;
    margin: 1rem;
    margin-left: 0;
    padding: 0;
}
form{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

iframe{
    padding: 1rem;
}