* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.contenedor-texto-informativo {
    background-color: #0274bf;

}

.texto-informativo {
    color: transparent;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 50%;
    text-align: center;
}


@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.contenedor {
    background-color: rgb(240, 236, 236);
    text-decoration: none;
    padding-top: 25px;
    margin-left: 1px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: small;
    width: 100%;
}

.item-menu {
    align-self: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(59, 177, 171);
    ;
}

.contenedor img {
    width: 200px;
    height: 50px;
}

.seccion1-nosotros {
    display: flex;
    justify-content: space-evenly;
    font-size: smaller;
    margin: 0px;
    align-items: center;
    padding: 5rem;
    column-gap: 5px;

}


.texto-nosotros {
    column-gap: 1px;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    font-weight: 400;
    flex-basis: 33%;
    text-indent: 15px;
}

.imagen-central {
    width: 50x;
    height: auto;
}



/*Estilos para pagina Productos*/

.texto-productos {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.parrafo-texto-productos {
    font-size: 25px;

}

.contenedor-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-color: 5px solid rgb(240, 236, 236);
    padding: 20px;

}



.productos {
    text-align: center;
    width: 75vw;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.item-productos-grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-auto-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    /*background-image: url("../img/bg-productos.jpg");*/
}

.item-producto {
    margin: 5px 0px 0px 5px;
    position: relative;
    box-sizing: border-box;
}


.img-producto {
    /* max-height: 270px;
    max-width: 480px;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border: 2px solid #5ad5eea8;
}



.item-producto-titulo {
    position: absolute;
    bottom: 0;
    color: black;
    /*box-shadow: rgb(134, 129, 129);*/
    /*width: fit-content;*/
    margin: 0;
    padding: 10px;
    box-sizing: content-box;
    text-align: center;
}

#producto2 {
    text-align: center;
}




.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-contacto {
    background-color: #323335cb;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    margin-left: 15px;
}





/* Estilos pagina Alquiler*/

/*Titulo*/

.contenedor-titulo-alquiler {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background-image: url("../img/background.jpg");
    height: fit-content;
    background-size: cover;
    color: #fff;
    margin-bottom: 40px;
    padding: 130px 0;
}


.titulo-alquiler {
    display: block;
    margin-top: 25px;
    text-align: right;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    position: relative;
    font-weight: bolder;
    font-style: oblique;
    margin: 5px;
}

/*Imagenes Alquileres*/

.contenedor-alquileres {

    width: 80vw;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.contenedor-alquileres-flex {

    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-color: 5px solid rgb(237, 240, 236);
    margin: 10px;
}




.contenedor-imagenes-alquiler-grid {
    display: grid;
    width: 90%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: max-content;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px 10px;
    box-sizing: border-box;

}

.item-imagen-alquiler {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}



/* Footer*/

footer {
    font-size: small;
    background-color: rgb(240, 236, 236);
}

.info-footer {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.info-footer h4 {
    margin-left: 25px;
    margin-top: 1rem;

}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/*Test de Border Color Animation
  */

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.final-footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.contenedor-form {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-left: 0;
    padding: 0;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    border: 3px normal;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__validacion-estado-incorrecto {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    color: red;

}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: green;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

iframe {
    padding: 1rem;
}

/*Puntos de corte 800 600*/

/*Breakpoint 800px*/
@media screen and (max-width: 800px) {

    /*------ Estilos Inicio -------*/

    .seccion1-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        font-size: smaller;
        margin: 0px;
        align-items: center;
        padding: 5rem;
    }

    .titulo-nosotros {
        text-align: center;
        margin-top: 0.5rem;


    }

    .seccion1-nosotros p {
        text-align: justify;
        text-indent: 1.5em;
    }

    .imagen-central {
        margin: 5px;
        width: fit-content;

    }


    /* Estilo 800 para Producto*/
    .item-productos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .item-producto-titulo {
        font-size: medium;
    }




    .contenedor-form {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .formulario {
        grid-template-columns: 1fr;
        margin: 1%;
    }

    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }


}

/* Breakpoint 600px */
@media screen and (max-width: 600px) {




    /*Estilo para menu*/
    .contenedor {
        background-color: rgb(240, 236, 236);
        text-decoration: none;
        padding-top: 25px;
        margin-left: 1px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;

        align-content: center;
        font-size: large;
        width: 100%;
        border: 1px goldenrod solid;
    }

    /* Estilos Productos*/
    .item-productos-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .item-producto-titulo {
        font-size: 100%;
    }

    /*Estilo formulario*/
    .contenedor-form {
        flex-direction: column;
        justify-content: center;

    }

    .formulario input {
        width: 100%;

    }

    .formulario textarea {
        width: 100%;

    }

    .formulario__grupo-btn-enviar {
        width: 80%;
    }

    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {

        margin-left: 0.5rem;
    }

    .ubicacion iframe {
        width: 100%;


    }

    /*------ Estilos Inicio -------*/

    .seccion1-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        font-size: smaller;
        margin: 0px;
        align-items: center;
        padding: 5rem;
    }

    .titulo-nosotros {
        text-align: center;
        margin-top: 0.5rem;


    }

    .seccion1-nosotros p {
        text-align: justify;
        text-indent: 1.5em;
    }

    .imagen-central {
        margin: 5px;
        width: fit-content;

    }



    /* Estilo Footer*/

    footer {
        font-size: large;
        background-color: rgb(240, 236, 236);

    }

    .info-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5em;
    }

    .final-footer {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .derechos {
        margin-bottom: 1rem;
    }


    .info-footer h4 {

        margin-left: 5px;
        margin-top: 1rem;

    }

    .social-icons {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 15px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

    }
}